body {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(229, 238, 238);
}

#main-wrap {
    margin-top: 5rem;
}

#title-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title-section, #cam-section {
    text-align: center;
}

/* course page */
#content {
    align-items: center;
}
