body {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(229, 238, 238);
    font-family: 'Noto Sans KR', sans-serif;
}

/* index page */
#main-wrap {
    margin-top: 10rem;
}

#title-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title-section, #cam-section {
    text-align: center;
}

#cam-desc {
    font-size: 25px;
}

#start-btn {
    width: 200px;
    height: 50px;
    font-size: 1.6rem;
}

/* course page */
#content {
    align-items: center;
}
